		*{
 margin : 0;
 padding: 0;
 box-sizing: border-box;
}
img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
}
button:hover{
    color: whitesmoke;
}
ne{
    position: absolute;
    margin-left: 90%;
}
be{
    position: absolute;
    margin-left: 7%;
}
@media screen and (max-width: 704px) {
}